@import "tailwindcss";

@theme {
  --font-display: var(--font-cinzel);
  --font-body: var(--font-lato);

  --color-fantasy-gold: #d4af37;
  --color-fantasy-gold-light: #f9e29c;
  --color-fantasy-gold-dark: #8a6d1f;

  --color-fantasy-teal: #051010;
  --color-fantasy-teal-light: #0d2525;

  --color-fantasy-paper: #eaddcf;
}

:root {
  --background: #051010;
  --foreground: #d4af37;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at top center, #0d2525 0%, #051010 80%);
  font-family: var(--font-body);
  min-height: 100vh;
}

/* Biar scrollbar horizontal di filter tabs ga jelek */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}